Repository opengaming/osgameclones, pull requests merged in 2025-01, with the labels that each got.

#2826 Add added date for arrakis
  games/a.yaml
Labels: game-correction

#2827 Update artillery duel
  games/a.yaml
Labels: game-correction

#2828 Update arx libertatis
  games/a.yaml
Labels: game-correction

#2829 Add 2ship2harkinian
  games/0.yaml
  originals/l.yaml
Labels: game-addition

#2832 Add added date for asdf
  games/a.yaml
Labels: game-correction

#2833 Add prototype (fixes #2830)
  games/p.yaml
Labels: game-addition

#2834 Update astromenace
  games/a.yaml
Labels: game-correction

#2835 Add added date for atari8bitstarraiders
  games/a.yaml
Labels: game-correction

#2836 Add added date for ativayeban
  games/a.yaml
Labels: game-correction

#2837 Update atomic tanks
  games/a.yaml
Labels: game-correction

#2838 Update atomiks
  games/a.yaml
Labels: game-correction

#2839 Add pandora's blocks (fixes #2831)
  games/p.yaml
Labels: game-addition

#2842 Update kam remake repo (fixes #2840)
  games/k.yaml
Labels: game-correction

#2844 Rename minetest - luanti
  dangerfile.js
  games/m.yaml
Labels: game-correction

#2846 Update augustus
  games/a.yaml
Labels: game-correction

#2847 Add moonstone, make status required and tools N/A (fixes #2845)
  _ext.py
  games/b.yaml
  games/c.yaml
  games/d.yaml
  games/g.yaml
  games/h.yaml
  games/k.yaml
  games/l.yaml
  games/m.yaml
  games/o.yaml
  games/p.yaml
  games/q.yaml
  games/r.yaml
  games/s.yaml
  games/t.yaml
  games/u.yaml
  games/v.yaml
  games/w.yaml
  games/z.yaml
  originals/m.yaml
  schema/games.yaml
Labels: game-addition, python

#2848 Update tabletop club
  games/t.yaml
Labels: game-correction

#2849 Update Taisei
  games/t.yaml
Labels: game-correction

#2850 Rename and update voxelibre (fixes #2841)
  games/m.yaml
  games/v.yaml
Labels: game-correction

#2851 Update tzod
  games/t.yaml
Labels: game-correction

#2852 Add hypersomnia
  games/h.yaml
  originals/h.yaml
  scripts/scrape_osgl_inspirations.py
Labels: game-addition

#2853 Update tanks of freedom
  games/t.yaml
Labels: game-correction

#2855 Add added date for tapir
  games/t.yaml
Labels: game-correction

#2856 Update tekwargdx
  games/t.yaml
Labels: game-correction

#2857 Update terasology
  games/t.yaml
Labels: game-correction

#2859 Update terrarium
  games/t.yaml
Labels: game-correction

#2860 Add tanks of freedom 2 (fixes #2854)
  games/t.yaml
Labels: game-addition

#2861 Add added date for TES3MP
  games/t.yaml
Labels: game-correction
