Repository opengaming/osgameclones, pull requests merged in 2025-09, with the labels that each got.

#3342 Add Raylib Go Mines
  games/r.yaml
Labels: game-addition

#3343 Add SpaceInvaders
  games/s.yaml
Labels: game-addition

#3346 Add JSoko
  games/j.yaml
Labels: game-addition

#3348 Add Robombs
  games/r.yaml
Labels: game-addition

#3349 Add Liero-AI
  games/l.yaml
Labels: game-addition

#3350 Add Epiphany
  games/e.yaml
Labels: game-addition

#3351 Add XP Minesweeper Classic
  games/x.yaml
Labels: game-addition

#3345 Add rawks
  games/r.yaml
Labels: game-addition

#3356 Add games
  games/a.yaml
  games/l.yaml
  games/n.yaml
  games/o.yaml
  games/q.yaml
  games/r.yaml
  games/s.yaml
  originals/a.yaml
  originals/g.yaml
  originals/j.yaml
  originals/l.yaml
  originals/n.yaml
Labels: game-addition, game-correction

#3363 Add The System Shock Hack Project
  games/s.yaml
Labels: game-addition, game-correction

#3365 Add Pythonista Minesweeper
  games/p.yaml
Labels: game-addition

#3366 Add Privacy Friendly 2048
  games/p.yaml
Labels: game-addition

#3364 Add Penguin Command
  games/p.yaml
Labels: game-addition

#3374 Add Amoebax
  games/a.yaml
Labels: game-addition

#3377 Add emacs-2048-game
  games/e.yaml
Labels: game-addition

#3379 Add xhyperoid
  games/x.yaml
Labels: game-addition

#3380 Add gnupong
  games/g.yaml
Labels: game-addition

#3382 Add Wordle CLI
  games/w.yaml
  originals/w.yaml
Labels: game-addition

#3385 Add Simplevaders
  games/s.yaml
Labels: game-addition

#3389 Add CSS Minecraft
  games/c.yaml
Labels: game-addition

#3392 Add Sokoban(g)
  games/s.yaml
Labels: game-addition

#3394 Add lifter
  games/l.yaml
Labels: game-addition

#3395 Add 2048-rs
  games/0.yaml
Labels: game-addition

#3391 Add SolarConflict
  games/s.yaml
Labels: game-addition

#3396 Add Fyne Mines
  games/f.yaml
Labels: game-addition

#3409 Add Flobopuyo
  games/f.yaml
Labels: game-addition

#3402 Add Anti-Virus
  games/a.yaml
Labels: game-addition

#3398 Add Ebitengine
  games/e.yaml
Labels: game-addition

#3415 Add Candy Crisis
  games/c.yaml
  originals/c.yaml
Labels: game-addition

#3424 Update spelunky html5, add rules checking dup repo
  _ext.py
  games/c.yaml
  games/l.yaml
  games/n.yaml
  games/p.yaml
  games/r.yaml
  games/s.yaml
  games/u.yaml
Labels: game-addition, game-correction, python

#3418 Add minecurses
  games/m.yaml
Labels: game-addition

#3419 Add SDL Sasteroids
  games/s.yaml
Labels: game-addition

#3421 Add clidle
  games/c.yaml
Labels: game-addition

#3422 Add 2048-Qt
  games/0.yaml
Labels: game-addition

#3425 Add YASC
  games/y.yaml
Labels: game-addition

#3426 Add Crispy Doom
  games/c.yaml
Labels: game-addition

#3430 Add Pong²
  games/p.yaml
Labels: game-addition

#3431 Add Cuberite
  games/c.yaml
Labels: game-addition

#3434 Add rust-2048
  games/r.yaml
Labels: game-addition

#3435 Add Vasteroids
  games/v.yaml
Labels: game-addition

#3436 Add Pac Man I
  games/p.yaml
Labels: game-addition

#3437 Add Eastern Front (1941)
  games/e.yaml
  originals/e.yaml
Labels: game-addition

#3438 Add wordler
  games/w.yaml
Labels: game-addition

#3441 Add XInvaders 3D
  games/x.yaml
Labels: game-addition

#3443 Add Rise of the Triad: Dark War
  games/r.yaml
  originals/r.yaml
Labels: game-addition

#3444 Add Net-bubble
  games/n.yaml
Labels: game-addition

#3445 Add TuxPuck
  games/t.yaml
  originals/s.yaml
Labels: game-addition

#3446 Add Arkaway
  games/a.yaml
Labels: game-addition

#3442 Add Bansoko
  games/b.yaml
  originals/s.yaml
Labels: game-addition

#3452 Add Avoid The Roid
  games/a.yaml
Labels: game-addition

#3455 Add asm2048
  games/a.yaml
Labels: game-addition

#3457 Add XPacman
  games/x.yaml
Labels: game-addition

#3458 Add Humphrey
  games/h.yaml
  originals/h.yaml
Labels: game-addition

#3461 Add River Raid disassembled
  games/r.yaml
  originals/r.yaml
Labels: game-addition

#3459 Add Frozen Bubble for Android
  games/f.yaml
Labels: game-addition

#3463 Add Taradino
  games/t.yaml
Labels: game-addition

#3465 Add Par Infinite Minesweeper
  games/p.yaml
Labels: game-addition

#3469 Add Donkey Kong
  games/d.yaml
  originals/d.yaml
Labels: game-addition

#3467 Add Space Invaders Emulator
  games/s.yaml
Labels: game-addition

#3470 Add Bomberman LAN
  games/b.yaml
Labels: game-addition

#3471 Add Sapter
  games/s.yaml
Labels: game-addition

#3474 Add GJID
  games/g.yaml
  originals/g.yaml
Labels: game-addition

#3473 Add Fort Apocalypse
  games/f.yaml
  originals/f.yaml
Labels: game-addition

#3477 Add The Clue!
  games/c.yaml
  originals/c.yaml
Labels: game-addition
