Repository opengaming/osgameclones, pull requests merged in 2025-07, with the labels that each got.

#3120 Update solarwolf
  games/s.yaml
Labels: game-correction

#3122 Add Haxima
  games/h.yaml
Labels: game-addition

#3123 Update sonic adventure toolset
  games/s.yaml
Labels: game-correction

#3125 Add JScorch
  games/j.yaml
Labels: game-addition

#3126 Add mengde
  games/m.yaml
  originals/s.yaml
Labels: game-addition

#3127 Add yamagi2remaster (fixes #3061)
  games/y.yaml
Labels: game-addition

#3130 Update RSDKv4
  games/r.yaml
  games/s.yaml
Labels: game-addition, game-correction

#3131 Update two sonic games
  games/s.yaml
Labels: game-addition, game-correction

#3132 Add [CELL]IVIZATION
  games/c.yaml
Labels: game-addition

#3133 Add nPush
  games/n.yaml
Labels: game-addition

#3137 Add added date for sopwith 3
  games/s.yaml
Labels: game-correction

#3136 Update rsdkv3
  games/r.yaml
  games/s.yaml
Labels: game-addition, game-correction

#3138 Update sourcehold
  games/s.yaml
Labels: game-correction

#3139 Update space harrier clone
  games/s.yaml
Labels: game-correction

#3141 Update snis
  games/s.yaml
Labels: game-correction

#3142 Update ss14
  games/s.yaml
Labels: game-correction

#3143 Add Mr. Drillux
  games/m.yaml
  originals/m.yaml
Labels: game-addition

#3145 Add 2H4U
  games/0.yaml
Labels: game-addition

#3146 Add Lupengo
  games/l.yaml
  originals/p.yaml
Labels: game-addition

#3148 Update spacetwitch
  games/s.yaml
Labels: game-correction

#3147 Update ss3d
  games/s.yaml
Labels: game-correction

#3152 Add The Maze of Galious remake
  games/m.yaml
  originals/m.yaml
Labels: game-addition

#3155 Add apotris (fixes #3109)
  games/a.yaml
Labels: game-addition

#3159 Add added date for space rangers
  games/s.yaml
Labels: game-correction

#3158 Update space cadet pinball
  games/s.yaml
Labels: game-correction

#3157 Add Avara
  games/a.yaml
  originals/a.yaml
Labels: game-addition

#3160 Add libnpengine
  games/l.yaml
  originals/c.yaml
  originals/s.yaml
Labels: game-addition

#3161 Update roadfighter
  games/r.yaml
Labels: game-correction

#3163 Add Super Transball 2
  games/s.yaml
  originals/z.yaml
Labels: game-addition

#3165 Add Laser War
  games/l.yaml
Labels: game-addition

#3166 Add TunnelTanks
  games/t.yaml
  originals/t.yaml
Labels: game-addition, game-correction

#3168 Add The Legend of Zelda: A Link to the Past
  games/l.yaml
Labels: game-addition

#3171 Add Mu-cade
  games/m.yaml
Labels: game-addition

#3175 Add DRL
  games/d.yaml
Labels: game-addition

#3176 Add added date for spaceroads
  games/s.yaml
Labels: game-correction

#3178 Add No Gravity
  games/n.yaml
  originals/w.yaml
Labels: game-addition

#3179 Add Lost Mine
  games/l.yaml
  originals/l.yaml
Labels: game-addition

#3185 Add SDL Tunneler
  games/s.yaml
Labels: game-addition

#3187 Add OpenXeen
  games/o.yaml
Labels: game-addition

#3192 Add xclannad
  games/x.yaml
  originals/c.yaml
  originals/k.yaml
  originals/l.yaml
  originals/p.yaml
  originals/t.yaml
Labels: game-addition

#3194 Add XGalaga
  games/x.yaml
  originals/g.yaml
Labels: game-addition

#3196 Add Moon Lander
  games/m.yaml
Labels: game-addition

#3197 Add Don Ceferino Hazaña
  games/d.yaml
  originals/s.yaml
Labels: game-addition

#3198 Add Worm Wars
  games/w.yaml
Labels: game-addition

#3203 Add QNetWalk
  games/q.yaml
  originals/n.yaml
Labels: game-addition

#3204 Add Simon
  games/s.yaml
Labels: game-addition

#3207 Add GLtron
  games/g.yaml
Labels: game-addition

#3206 Add Children of Solarus
  games/c.yaml
  games/l.yaml
Labels: game-addition, game-correction

#3209 Add Pokete
  games/p.yaml
Labels: game-addition

#3210 Add OpenRedAlert
  games/o.yaml
Labels: game-addition

#3211 Add PanzerChasm
  games/p.yaml
  originals/c.yaml
Labels: game-addition

#3212 Add XGalaga++
  games/x.yaml
Labels: game-addition

#3217 Add KSnakeDuel
  games/k.yaml
Labels: game-addition

#3225 Add miscom
  games/m.yaml
Labels: game-addition

#3227 Add The Bitwise Challenge: 2048
  games/b.yaml
Labels: game-addition
